body {
  background-color: #336;
}

pre {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  padding: 10px;
}

.content {
  min-height: 90vh;
  padding: 30px 20px;
  background-color: #fff;
}

.logo-container {
  margin: 0 auto;
}

.logo {
  width: 100px;
  display: block;
  padding: 10px 0 10px 0;
}

.labelTitle {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
}

.code-display {
  position: relative;
  background: #fff;
  border-radius: 5px;
}

.copy-button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background: transparent;
  color: #333; /* Adjust color to match your theme */
  cursor: pointer;
}

.copy-button:hover {
  color: #0d6efd; /* Adjust hover color to match your theme */
}

.loading {
  position: relative;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-size: 1.5rem;
}
